body {
  background-image: url("../img/background.jpeg");
  background-size: cover;
  color: white;
}

.carousel-item {
  background-image: url("../img/interfaceconsole.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  opacity: 0.9;
}
